[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = teddyepich@gmail.com
	name = toduko
[push]
	followTags = true
[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
