# Ignore everything
*

# Except
!.gitignore
!.gitconfig
!.gitmodules

!.config/alacritty
!.config/i3
!.config/picom
!.config/polybar
!.config/rofi
!.config/sway

!.vimrc

!.zsh/
!.zshrc
!.zprofile

!scripts/
